/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;

}

body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background-color: var(--main-color);
    color: var(--text-primary-color);
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: inherit;
}


/* utlis */

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;

}

/* debug */

.debug{
    min-height: 80px;
    background-color: rgb(216, 163, 98);
    padding: 2rem;
}


/* CUSTOM PROP */

:root{
    /* PALLETE */
    --navbar-color: black;
    --footer-color:#282828;
    --header-color:#080b12;
    --main-color:#141922;
    --text-primary-color:aliceblue;

    /* LAYOUT */
    --player-height:100px;
    --navbar-width:200px;

}


/* APP TOP */

#App_top{
    height: calc(100vh - var(--player-height));

    display: flex;
}



/* APP PLAYER */

#App_player{
    background-color: var(--footer-color);
    height: var(--player-height);
}

/* APP NAVBAR */

#App-navbar{
    width: var(--navbar-width);
    background-color: var(--navbar-color);
}


/* PLAYLIST */

#Playlists{
    flex-grow: 1;
}