/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;

}

body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background-color: var(--main-color);
    color: var(--text-primary-color);
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: inherit;
}

h2{
    color: aliceblue;
}

h3{
    color: aliceblue;
}


/* utlis */

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;

}

/* debug */

.debug{
    min-height: 80px;
    background-color: rgb(216, 163, 98);
    padding: 2rem;
}


/* CUSTOM PROP */

:root{
    /* PALLETE */
    --navbar-color: black;
    --footer-color:#282828;
    --header-color:#00000044;
    --main-color:#141922;
    --text-primary-color:rgba(240, 248, 255, 0.552);

    /* LAYOUT */
    --player-height:100px;
    --navbar-width:200px;
    --main-top-bar-height:100px;

}


/* APP TOP */

#App_top{
    height: calc(100vh - var(--player-height));

    display: flex;
}




/* APP NAVBAR */

#App-navbar{
    width: var(--navbar-width);
    background-color: var(--navbar-color);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

/* LOGO */


.logo-big{
    padding: 15px 15px 30px 15px;
    width: 170px;
}

.logo-small{
    display: none;
}



/* RESEARCH LIST */

.research-list li{
    display: block;
    padding: 5px 15px;
    line-height: 39px;
    
}

.research-list a{
    color: var(--text-primary-color);
}


.research-list img{
    width: 30px;
    padding-right: 5px;
}

/* playlist-list */

.playlist-list{
    padding: 0 15px;
    padding-top: 25PX;
    
}

.playlist-list h4{
    padding-bottom: 20px;
    color: aliceblue;
}


.playlist-list span {
    line-height: 10px;
}

.playlist-list li{
    line-height: 40px;
    font-size: 14px;
    display: block;
    /* overflow: scroll; */
}

.playlist-list li:nth-child(1){
    font-size: 18px;
}


.playlist-list img{
  width: 40px;
  padding-right: 5px;
  
}

.playlist-list i{
    font-size: 30px;
    background-color: var(--text-primary-color);
    color:black;
    padding: 5px;


}

.crea-playlist{
    height: 40px;
}

/* installa-app */

.installa-app{
    padding: 0 10px;
    margin-top: auto;

}
.installa-app p{
    padding-bottom: 10px;
border-bottom: 2px solid rgba(255, 255, 255, 0.356);
}

.logo-small{
    display: none;
}


.installa-app img{
    width: 20px;
    vertical-align:middle;
    margin-right: 10px;
    color: var(--text-primary-color);
    margin-left: 5px;

}

.utente{
    padding: 15px 15px;
}

.utente img{
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
    vertical-align:middle;
    margin-right: 10px;
}

.utente h4 {
    color: aliceblue;
}

.utente h4:nth-child(2){
    display: none;
}

.installa-app p:nth-child(2){
    display: none;
   
}


/* APP NAVBAR HOVER */

.playlist-list li:hover{
    color: aliceblue;
}

.playlist-list li:hover i{
    color: aliceblue;
}

.installa-app p:hover{
    color: aliceblue;
}

.research-list a:hover{
    color: aliceblue;
}



/* APP NAVBAR RESPONSIVE */

@media all and (max-width: 600px){
    :root{
        --navbar-width:50px;
    }

    .research-list span{
        display: none;

    }

    

    .research-list{
        text-align: center;
    }

    .playlist-list{
        display: none;
    }

    .logo-big{
        display: none;
    }

    .logo-small{
        display: block;
        width: 30px;
        height: 30px;
        margin: 5px 5px 30px 5px;
        text-align: center;
        
    }

    .installa-app{
        padding-left: 0;
        
    }

    .utente{
        padding: 0;
        text-align: center;
    }
    
   

    .utente h4:nth-child(1){
        display: none;
    }

    .utente h4:nth-child(2){
        display: block;
        
       
    }

    .installa-app p:nth-child(1){
        display: none;

    }

    .installa-app p:nth-child(2){
        display: block;
        border: 0;
        text-align: center;
    }

    .research-list li{
        padding: 0;
    }

    #App-navbar{
        padding: 5px;
    }

}

/* APP MAIN */

#App-main{
    flex-grow: 1;
    overflow: auto;
}

/* App-top-bar */

#App-top-bar{
    height:var(--main-top-bar-height) ;
    background-color: var(--header-color);
    position: fixed;
    width: calc(100% - var(--navbar-width));
    text-align: end;
    padding-right: 20px;
}

/* App-top-bar hover */

#App-top-bar span:hover{
    font-size: 16px;
}

/* effetua-upgrade */

#App-top-bar span{
    color: aliceblue;
    line-height: 98px;
    padding: 12px 35px;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 14px;
}



#App-playlists{
    height: 100%;
    overflow: auto;
    padding-top: var(--main-top-bar-height);
    
}

/* lista-categoria */

.lista-categoria{
    text-align: center;
}

.lista-categoria li{
    font-size: 13px;
    padding:  25px;
}

/* recently-played */

.recently-played{
    padding: 25px;
}

.recently-played h2{
    padding-bottom: 25px;
}

.recently-played-Tracks{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.track{
    width: calc(100% / 6 - 30px) ;
    text-align: center;
   
}

.track-img{
    position: relative;
}

.fa-circle-play{
    color: aliceblue;
    font-size: 45px;
}

.hover-img{
    display: none;
    position: absolute;
    background-color: rgba(0,0,0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.track p{
   font-size: 13px;
}

/* recently-played hover */

.lista-categoria li:hover{
    color: aliceblue;
}


.track-img:hover .hover-img{
    
    display: flex;
}

/* recently-played responsive */


@media all and (max-width: 1000px){
    .track{
        width: calc(100% / 4 - 30px);
        
    }

}


@media all and (max-width: 700px){

    .track{
        width: calc(100% / 2 - 30px);
        
    }

}

/* per-john-doe */

.per-john-doe{
    padding: 25px;

}

.per-john-doe p{
    padding: 15 0;
}

.per-john-doe-track{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 30px;
}

/* <!-- Artisti-più-ascoltati --> */


.Artisti-più-ascoltati{
    padding: 25px;
}

.Artisti-più-ascoltati-track{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 30px;
}

.Artisti-più-ascoltati-track .track-img img{
    border-radius: 50%;

}

/* Artisti-più-ascoltati hover */

 .track-img:hover .round{
    border-radius: 50%;
}


/* FOOTER */

/* APP PLAYER */

#App_player{
    background-color: var(--footer-color);
    height: var(--player-height);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    width: 100%;
}

/* App_player-left */

.App_player-left{
    flex: 2 0 25%;
    display: flex;
    
}

.img-name{
    display: flex;
    
   align-items: center;
}

.img-name img{
    width: 50px;
    height: 50px;
    
}

.name-song {
    padding-left: 10px;
    vertical-align: middle;
}

.name-song h4{
    color: aliceblue;
    font-size: 12px;
}

.name-song p{
    font-size: 10px;
}

.icone-cartelle{
    min-width: 50px;
    line-height: 77px;
    text-align: center;
}

/* App_player-left hover */


.icone-cartelle i:hover{
    color: aliceblue;
}





/* App_player-left responsive */

@media all and (max-width: 900px){
    .icone-cartelle{
       flex-direction: column;
       align-items: flex-end;
       justify-content: center;
      
    }
}


/* App_player-center */

.App_player-center{
    flex: 0 2 40%;
    
    
}

.play-button{
    display: flex;
    justify-content: center;
    gap: 35px;
}

.play-button i{
    font-size: 20px;
    color: aliceblue;
    line-height: 27px;
}

.play-button .fa-play-hover{
    font-size: 30px;
    display: none;
}

.play-button i:nth-child(3){
   font-size: 30px;
  
   
}

.time-bar{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-top: 15px;
}

.time-bar-flowing{
    width: 75%;
    height: 3px;
    background-color:#5a5a5a ;
    border-radius: 3px;
}

.time-passed{
    width: 35%;
    height: 3px;
    background-color: var(--text-primary-color);
    border-radius: 3px;
    position: relative;
}

.white-dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: aliceblue;
    position: absolute;
    right: 0;
    top: -1px;
    display: none;
}

.time-bar p{
 font-size: 12px;
}


/* App_player-center hover */

.time-passed:hover{
   
    background-color: lightgreen;
   
}
.time-passed:hover .white-dot{
    display: block;
}

.play-button .fa-play:hover{
    display: none;
}

.play-button .fa-play-hover:hover {
    display: inline;
}

.play-button i:nth-child(3):hover{
    font-size: 35px;
   
    
 }

/* App_player-right */

.App_player-right{
    flex: 2 0 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    
}



.volume{
    flex: 0 0 40%;
    height: 3px;
    background-color:#5a5a5a ;
    border-radius: 3px;
}

.App_player-right-icons i{
    padding: 5px;
}

.level-volume{
    width: 35%;
    height: 3px;
    background-color: var(--text-primary-color);
    border-radius: 3px;
}


/* App_player-right hover*/

.level-volume:hover{
    
    background-color: lightgreen;
    
}

.App_player-right-icons i:hover{
    color: aliceblue;
}

.name-song p:hover{
    text-decoration: underline;
}




/* footer responsive */

@media all and (max-width: 700px){
    .icone-cartelle{

       
       flex-direction: column;
       align-items: end;
       justify-content: center;
}
.App_player-right,
.App_player-right{
    width: 219px;
}

}